@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #000;
}

.nav-logo{
    max-width: 400px;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #1d4ed8;
    z-index: -100;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h4{
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

header .content h1{
    color: #fff;
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

header .content{
    margin-bottom: 1rem;
    color: #ccc;
}

header .image{
    position: relative;
}

header .image::before{
    content: "o";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30rem;
    font-weight: 400;
    line-height: 20rem;
    color: red;
    opacity: 0.2;
    z-index: -100;
}

header .iamge img{
    max-width: 600px;
    margin: auto;
}

section .header{
    margin-top: 1rem;
    margin-bottom: 3rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

section p{
    color: #ccc;
    font-size: 1.3rem;
}

section .teks{
    padding: 3rem 2rem;
    background-color: #27272a;
    border: 3px solid transparent;
    border-radius: 15px;
}

h5{
    color: #fff;
    font-size: 2rem;
    text-align: center;
}

h6{
    color: #fff;
    font-size: 2rem;
    text-align: center;
}

footer{
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}

footer .column .logo{
    max-width: 200px;
    margin-bottom: 2rem;
}

footer .column p{
    color: #fff;
    margin-bottom: 2rem;
}

footer .column .socials{
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .column .socials a{
    color: #ccc;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
}

footer .column .socials a:hover{
    color: #ccc;
    background-color: #1d4ed8;
    border-color: #1d4ed8;
}

footer .column h4{
    color: #fff;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

footer .column > a{
    display: block;
    color: #ccc;
    margin-bottom: 1rem;
}

footer .column >a:hover{
    color: #1d4ed8;
}

.copyright{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #fff;
    font-size: 0.9rem;
    text-align: center;
}

@media (width < 900px){
    .nav-links{
        display: none;
    }
    header{
        grid-template-columns: repeat(1, 1fr);
    }
    header .image{
        grid-area: 1/1/2/2;
    }
    .footer{
        grid-template-columns: 1fr 200px;
    }
}

@media (width < 600px){
    .footer{
        grid-template-columns: 1fr 150px;
    }
}





